<div class="container">
  <h2 style="margin-top: 0px;">Contact Us</h2>
  <div class="credit-container">
    <mat-card>
      <div>
        <div class="img-container">
        <img src="https://i.imgur.com/IeAf4pv.jpg">
        </div>
        <div class="container">
          <h4>Abhiyanshu Kumar</h4>
          <p>Mess Secretary</p>
          <div class="email">
            abhiyanshu20@iitk.ac.in
          </div>
          <div class="no">
            +91 9672334244
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <div>
        <img src="https://i.imgur.com/Nus6vn3.jpg">
        <div class="container">
          <h4>Utkarsh Srivastava</h4>
          <p>Web InCharge</p>
          <div class="email">
            utkarshs20@iitk.ac.in
          </div>
          <div class="no">
            +91 6387196722
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
