<div class="container">
  <h2 style="margin-top: 0px;">Contact Us</h2>
<div class="credit-container">
<mat-card>
  <div>
    <div class="img-container">
    <img src="assets/img/himanshu.jpg">
    </div>
    <div class="container">
      <h4>Himanshu Patidar</h4> 
      <p>Mess Secretary</p>
      <div class="email">
        himuptdr@iitk.ac.in
      </div>
      <div class="no">
        9009507417
      </div>
    </div>
  </div>
</mat-card>

<mat-card>
    <div>
      <img src="assets/img/vikram.jpeg">
      <div class="container">
        <h4>Saurabh Vikram</h4>
        <p>Web InCharge</p> 
        <div class="email">
          vsaurabh@iitk.ac.in
        </div>
        <div class="no">
          7007321908
        </div> 
      </div>
    </div>
  </mat-card>
  </div>
  </div>
  