.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  position: sticky;
  z-index: 10;
  top: 0;
}

.activated {
  color: rgb(1, 1, 165);
  background: rgba(0,0,0,.04);
}

.nav-title {
  margin-left: 10px;
}

.nav-toggle {
  margin-right: 15px;
}

@media (min-width:960px) {
  .mobile{
    display: none;
  }
}

@media (max-width:960px) {
  .laptop{
    display: none;
  }
}

@media (max-width:840px) {
  .laptop{
    display: none;
  }
}

:host >>> router-outlet + * > * {
  height: calc(100vh - 64px);
  overflow: auto;
}

@media (max-width: 599px) {
  :host >>> router-outlet + * > * {
    height: calc(100vh - 56px);
  }
}

.totalwidth{
  display: flex;
}

.routerpart{
  width:70%;
}

.recentpart{
  width:30%;
  border-left: 5px solid black;
  height:100vh;
  overflow-y: scroll;
}