<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [autoFocus]="false"
    fixedInViewport="true"
    [attr.role]="role === 'mess' ? 'dialog' : ((isHandset$ | async) ? 'dialog' : 'navigation')"
    [mode]="role === 'mess' ? 'over' : (isHandset$ | async) ? 'over' : 'side'"
    [opened]="role === 'mess' ? false : !(isHandset$ | async)">
    <mat-toolbar color="primary" class="mat-elevation-z3"><mat-icon>account_circle</mat-icon>&nbsp;{{ navheader }}</mat-toolbar>
    <mat-nav-list>
      <div [class.mobile]="role !== 'mess'" (click)="drawer.toggle()">
          <a  *ngFor="let nav of navs"
          mat-list-item
          [routerLink]="nav.url"
          [class.activated]="currentUrl == nav.url">
          <mat-icon [matBadge]="nav.badge" matBadgeColor="accent">{{ nav.icon }}</mat-icon>
          <span class="nav-title">{{ nav.title }}</span>
      </a>
      <a mat-list-item (click)="messOut()" *ngIf="role === 'mess'">
          <mat-icon>lock_open</mat-icon>
          <span class="nav-title">End Mess Session</span>
      </a>
      <a mat-list-item (click)="logout()"><img src="assets/img/logout.png">
        <span class="nav-title">Logout</span>
      </a>
      </div>
      <div class="laptop" *ngIf="role !== 'mess'">
        <a  mat-list-item *ngFor="let nav of navs"
            [routerLink]="nav.url"
            [class.activated]="currentUrl == nav.url">
            <mat-icon [matBadge]="nav.badge" matBadgeColor="accent">{{ nav.icon }}</mat-icon>
            <span class="nav-title">{{ nav.title }}</span>
        </a>
        <a mat-list-item (click)="messOut()" *ngIf="role === 'mess'">
            <mat-icon>lock_open</mat-icon>
            <span class="nav-title">End Mess Session</span>
        </a>
        <a mat-list-item (click)="logout()"><img src="assets/img/logout.png">
          <span class="nav-title">Logout</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z3">
      <button
        type="button"
        class="nav-toggle"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="role === 'mess' ? true : isHandset$ | async">
        <mat-icon [matBadge]="navs[0].badge" matBadgeColor="accent" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hall 3 Mess Automation</span>
    </mat-toolbar>

    <div class="totalwidth" *ngIf="role === 'mess'">
    <div class="routerpart">
      <router-outlet *ngIf="role === 'mess'"></router-outlet>
    </div>
    <div class="recentpart">
      <app-recents></app-recents>
    </div>
    </div>

   <router-outlet *ngIf="role !== 'mess'"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
