<div class="container spinner" *ngIf="load"><mat-spinner></mat-spinner></div>
<div class="container"  *ngIf="!load">
  <h3><b>Book Today's Extras</b></h3>
  <div class="disher">
    <mat-card class="dish-item" *ngFor="let dish of dishes; let i=index;">
      <mat-checkbox [(ngModel)]="dish.selected" (ngModelChange)="resetQuantity(i)"></mat-checkbox>
      <button mat-button class="dish-button"
              (click)="dish.selected=!dish.selected; resetQuantity(i)">{{dish.name}} (&#8377;{{dish.price}})</button>
      <div></div>
      <div *ngIf="dish.selected" class="no-shrink">
        <button mat-icon-button (click)="changeQuantity(i,-1)" [disabled]="dish.quantity<=1">
          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
        </button>
        <span>{{dish.quantity}}</span>
        <button mat-icon-button  (click)="changeQuantity(i,1)">
            <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right</mat-icon>
          </button>
      </div>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" class="buttonBlue" (click)="book()"><b>Submit</b></button>
</div>
