<div id="container">
    
    <ul>
      <li>
          <span>Please note the following:<br>
          1.Pass-Key has two parts-<br>
          -rollno is your pass and password is your key<br>
          2.key follows after rollno<br>
          <b>3.enter only key part</b><br>
          4.keep key less than 6 digits<br>
          <b>5.key has to be numeric only</b>
          </span>  
          <br>
          <br>
          <form>
            <div class="w3-row-padding">
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="Present Key" autofocus>
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="New Key">
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="Confirm New Key">
              </div>
            </div>
            <br>
            
            <button type="submit" class="button buttonBlue"><b>Change</b></button>
          </form>
      </li>
    </ul>
  </div>
  
