.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}

h2 {
    text-align: center;
}

mat-checkbox {
    padding-left: 10px;
}

.disher {
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mat-progress-bar {
    margin: 17px 0;
    width: 45%;
    max-width: 300px;
    height: 3px;
}

.dish-item {
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.dish-button {
    flex-grow: 1;
    margin: 0 10px;
    height: 40px;
    overflow: hidden;
}

.no-shrink {
    flex: none;
}

.spinner{
    margin-top:60px;
}

@media (min-width:960px) {
    .mobile{
      display: none;
    }
  }

.center{
    text-align: center;
}
  