<div id="container">
    
    <ul>
      <li>
          <span>Please utilise this service if you are not well,and want the any of following item at your room.</span>
          <br>
          <br>
          <form>
            List of items:<br>
            <input class="w3-radio" type="radio" name="fooditem" value="Curd-rice">Curd-rice
            <input class="w3-radio" type="radio" name="fooditem" value="Dal-rice">Dal-rice
            <input class="w3-radio" type="radio" name="fooditem" value="Riceonly">Rice-only<br><br>
            <div class="w3-row-padding">
              <div class="w3-third">
                <input class="w3-input w3-border" type="text" placeholder="Name:" autofocus>
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="text" placeholder="Wing:(Ex: 5top)">
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="text" placeholder="Room:(Ex: 350)">
              </div>
            </div>
            <br>
            
            <button mat-raised-button color="primary" type="submit" class="buttonBlue"><b>Submit</b></button>
          </form>
      </li>
    </ul>
  </div>
  
