<div class="container">
  <h2>Not Well?</h2>
  <div class="not-well-book">
    <mat-card> 
      <div>When you are not well and need the any of following item at your room:</div>
      <br>
      <mat-radio-group class="items">
        <mat-radio-button value="Curd-rice">Curd-rice &nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="Dal-rice">Dal-rice &nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="Riceonly">Rice-only &nbsp;&nbsp;</mat-radio-button>
      </mat-radio-group><br>
      <div class="details">
        <mat-form-field>
            <input matInput placeholder="Your Wing">
            <mat-hint>Eg. 5-Top</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Your Room">
            <mat-hint>Eg. 350</mat-hint>
        </mat-form-field>
      </div>
      <br>
      <button mat-raised-button color="primary" type="submit"><b>Submit</b></button>
    </mat-card>
  </div>
  <h3>Get Well Soon!</h3>
</div>
