<div class="container">
  <h2>Mess Login</h2>
  <div class="passes">
      <mat-card > 
          <mat-form-field>
              <input matInput placeholder="Roll No." type="text" autofocus (keyup.enter)="pass.focus()" autocomplete="new-password" autocomplete="off" #roll>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" autofocus (keyup.enter)="pass.focus()" autocomplete="off" (keyup.enter)="pass.blur(); !submitting && logIn(roll.value, pass.value);" #pass>
            </mat-form-field>
          <br>
          <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
  
  <button mat-raised-button *ngIf="!submitting" color="primary" type="button" (click)="logIn(roll.value, pass.value)">
    <b>Login</b>
  </button>
      </mat-card>
  </div>
</div>

