.passes {
    width: 90%;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.passes > .mat-card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.mat-card {
    padding: 30px;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

.mat-divider {
    margin-left: 30px;
}

.mat-form-field {
    overflow: hidden;
    text-align: center;
}

:host >>> .mat-form-field-infix {
    padding: .4375em 0;
    padding-left: 5px;
}

.qr-login {
    display: flex;
    flex-flow: column;
}

zxing-scanner {
    padding-bottom: 10px;
}

.mat-progress-bar {
    margin: 7px 0;
    width: 50%;
    height: 3px;
}

.mat-card{
    height: 350px;
}