#container {
    display: grid;
    padding: 5px 7px;
}

ul {
    list-style-type: none;
    margin:0;padding:0;
}   

li {
    background: rgb(236, 236, 236);
    border-radius: 8px;
    padding: 7px;
    margin-bottom: 8px;
   
}
                
a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color:#00A8FF;
}

.arrow {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 5px;
    margin: 0px;
    cursor: pointer;
}

.pull-right {
    float: right;
}

.button {
	border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: auto;
  width: 120px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease;
  
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #357bd4;
  text-shadow: 1px 1px 0 rgba(21, 86, 172, 0.5);
}

.buttonBlue:hover { background: #2265bd; }

.note{
    text-align:center;
    margin:auto;
    padding: auto;
}
               
                
            
        
    
