<div id="container">
  
    <ul>
      <li>
          <p class="note">Note:Items booking closes one day before and you could book items for day after tommorow also.</p>
      </li>
      <li>
          <div class="note">Tuesday(16-10-2018):</div>
      </li>
      <li>
        <div class="note">Lunch:</div>
        <span>Dahi Chicken</span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <span  class="pull-right" id="element1">&nbsp;&nbsp; 1&nbsp;&nbsp; </span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
      </li>
      
      <li>
        <div class="note">Dinner:</div>
        <span>Fish-Fry</span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
      </li>
  
      <li>
          <div class="note">Wednesday(17-10-2018):</div>
      </li>

      <li>
          <div class="note">Lunch:</div>
          <div class="note">No Item Found !!</div>
          <!--<span>Paneer Bujiya</span>
          <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
          <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
          <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>-->
      </li>

      <li>
          <div class="note">Dinner:</div>
          <span>Chicken Biryani</span>
          <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
          <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
          <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
      </li>
    </ul>
    <button mat-raised-button color="primary" type="submit" class="buttonBlue"><b>BOOK</b></button>
    <br>
    <p class="note">**These items when booked will show up in book section at that time and you could generate QR with that or simply login and get token.</p>
  </div>
  