<div id="container">
  
    <ul>
      <li>
        <div class="note">Current Month,october-18:</div>
        <div class="row">
            <div class="column c1">
              <p>Basic:<br>
                 Extra:<br>
                 Juice:<br>
            </div>
            <div class="column c2">
              <p>Non-veg:<br>
                Ice-cream:<br>
                Total:</p>
            </div>
          </div>
      </li>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>This month details</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li class="expand"><p>4. &nbsp;&nbsp;egg(2*5),chickenbiryani(75),paneermushroom(50),dalfry(25)</p></li>
              <li class="expand"><span>3.</span><span class="pull-right">egg(2*5),chickenbiryani(75)</span></li>
              <li class="expand"><span>2.</span><span class="pull-right">egg(2*5),chickenbiryani(75)</span></li>
              <li class="expand"><span>1.</span><span class="pull-right">egg(2*5),chickenbiryani(75)</span></li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion> 
      
        <li>
          <div class="note">September-18:</div>
          <div class="row">
              <div class="column c1">
                <p>Basic:<br>
                   Extra:<br>
                   Juice:<br>
                   Electricity:<br>
              </div>
              <div class="column c2">
                <p>Non-veg:<br>
                  Ice-cream:<br>
                  Other:<br>
                  Total:</p>
              </div>
            </div>
        </li>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>This month details</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion> 

      <li>
          <div class="note">August-18:</div>
      </li>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>This month details</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
              <li class="expand">asd</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion> 
    </ul>
  </div>
  
