

<form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <div class="group">
    <h2>Hall-3 Mess Login</h2></div>
  <div class="group">
    <input type="password"><span class="highlight"></span><span class="bar"></span>
    <label><b>PASS-KEY</b></label>
  </div>
  
  <button type="button" class="button buttonBlue"><b>Login</b>
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div class="forsignup"><p>Never share your pass-key<br><br>First time?<a routerLink="/signup">Signup</a><br>What's Pass-Key?<a routerLink="/signup">Signup</a></p></div>
</form>
<footer>
  <p><a href="https://www.iitk.ac.in/hall3/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
</footer>

