.install-buttons {
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
    margin: 15px 0;
}

/deep/ .mat-raised-button.cdk-program-focused .mat-button-focus-overlay {
    opacity: 0;
}
