.container{
	width: 100%;
	display:flex;
	justify-content: space-between;
}

.navbar{
	background-color: rgb(56, 56, 177);
	padding-top: 10px;
	height: 27px;
}

.menu{
	margin-top:20px;
	margin-left:-17px; 
}

:host >>> .mat-tab-body-content {
    overflow: auto;
}

:host >>> .mat-tab-body {
    height: calc(100vh - 105px);
}

:host >>> .mat-tab-label-active {
    opacity: 1;
}

:host >>> .mat-tab-label:focus:not(.mat-tab-label-active) {
    opacity: 0.6;
}

.slots {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}

.alignmt{
    width: 96%;
    max-width: 540px;
	margin: 10px 10px 10px;
	background-color: rgb(247, 244, 241);
}
        
h2,h3, h4 {
    text-align: center;
}

.mat-progress-spinner {
    margin-top: 60px;
}

.white{
	color: white;
}

.sideone{
	width: 90%;
    max-width: 388px;
	margin: 10px 10px 10px;
	background-color: rgb(247, 244, 241);
}

.definer {
	min-height: 80vh;
}
