<div>
  <mat-card class="navbar">
    <button mat-button [matMenuTriggerFor]="menu" class="menu"><mat-icon class="white">menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/messhome/issuetoken"><div class="menuelement">Issue Token</div></button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Current Session History</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Last Week Summary</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Non-Veg Summary</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/messhome/nonvegbookings">View Non-Veg Booking</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Delete Item</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Notification History</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Add Missing Item</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/messhome/changepassword">Change Password</button>
      <mat-divider></mat-divider>
      <button mat-menu-item>Logout</button>
    </mat-menu>
</mat-card>
</div>

<div class="slots">
  <mat-card class="sideone  definer">
    <h3>Last Login</h3>
    <mat-divider></mat-divider>
  </mat-card>
  <mat-card class="alignmt">
    <router-outlet></router-outlet>
  </mat-card>
  <mat-card class="sideone">
    <h3>Notification</h3>
    <mat-divider></mat-divider>
  </mat-card>
</div>