<div class="container">
  <form>
    <header><img src="assets/img/mauryans_logo.png"></header>
    <h3>Forgot Password?</h3>
    <mat-form-field>
      <input matInput placeholder="Roll No." type="text">
    </mat-form-field>
    <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
    <button mat-raised-button *ngIf="!submitting" type="button" color="primary">
      <b>Submit</b>
    </button>
    <div class="links">
      <p>Reset password link will be sent to your email.</p>
      <p>Just remembered it?&nbsp;<a routerLink="/login">Login</a><br>Still didn't signup?&nbsp;<a routerLink="/signup">Signup</a></p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank" rel="noreferrer">Hall-3</a> Mess Automation Portal</p>
  </footer>
</div>
  