<div class="flex">
  <form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <h3><b>Forgot Password?</b></h3>  
    <mat-form-field class="container">
      <input matInput placeholder="Roll No" type="text">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" routerLink="/login" >
      <b>Submit</b>
    </button>
    <div class="forsignup">
      <p>Reset password link will be sent to your email.</p>
      <p>Just remembered it?&nbsp;<a routerLink="/login">Login</a><br>Didn't signup still?&nbsp;<a routerLink="/signup">Signup</a></p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
  </footer>
</div>
  