<div id="container">
  <ul>
    <li>
      <span>Paneer-Mushroom</span>
      <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
      <span  class="pull-right" id="element1">&nbsp;&nbsp; 1&nbsp;&nbsp; </span>
      <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </li>
    
    <li>
      <span>Dal-Fry</span>
      <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
      <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
      <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </li>

    <li>
        <span>Papad</span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </li>

    <li>
        <span>Paneer Bujiya</span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <span  class="pull-right" id="element1">&nbsp;&nbsp; 0&nbsp;&nbsp; </span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </li>

    <li>
        <span>Egg</span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_right</mat-icon></button>
        <span  class="pull-right" id="element1">&nbsp;&nbsp; 2&nbsp;&nbsp; </span>
        <button class="arrow pull-right"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </li>
  </ul>
  <button type="submit" class="button buttonBlue"><b>Submit</b></button>
</div>
