.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.container > * {
    max-width: 600px;
    width: 90%;
}

.abc{
    display: flex;
    justify-content: space-around;
}

.def{
    margin-top: 5px;
}

.mat-expansion-panel {
    margin: 3px 0;
}

h2{
    text-align: center;
}