.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.disher {
    display: flex;
    flex-flow: column-reverse;
    max-width: 600px;
    width: 90%;
}

.mat-expansion-panel {
    margin: 3px 0;
}

h2{
    text-align: center;
}

button.mat-button.mat-primary {
    margin-bottom: 10px;
}

.mat-action-row button.mat-button {
    height: 37px;
}

.mat-action-row {
    justify-content: space-between;
}

.mat-button[disabled][disabled] {
    color: initial;
}

@media only screen and (min-width: 600px) {
   .abc{
        display: flex;
        justify-content: space-around;
    }
    
    .def{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
   .abc{
        display: flex;
        flex-flow:column;
    }
    
    .def{
        margin-top: 5px;
    }
    
    .long{
        display: none;
    }
}