<div class="container">
    <h2>Edit Token</h2>
    <mat-card>
      <div>
      Enter Roll no:
      <mat-form-field>
      <input matInput type="text" (keyup.enter)="listToken(rollno.value)" #rollno>
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button (click)="listToken(rollno.value)" color="primary">List Tokens</button>
  
  </mat-card>

    <div class="editlist">
    <mat-expansion-panel *ngFor="let token of tokens; let i=index;" (closed)="discard(i)" [expanded]="i === 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ format(token.date) }}
          </mat-panel-title>
          <mat-panel-description>
            Cost: &#8377;{{ getCost(token) }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="token.dishes" class="mat-elevation-z1 dishes">
          <ng-container matColumnDef="Dish">
            <th mat-header-cell *matHeaderCellDef> Dish </th>
            <td mat-cell *matCellDef="let dish"> {{dish.name}} (&#8377;{{dish.price}}) </td>

          </ng-container>
        
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let dish; let j= index">
                <button mat-icon-button (click)="changeQuantity(i,j)" [disabled]="dish.quantity<=1">
                  {{dish.quantity}}
                </button>
            </td>

          </ng-container>

          <ng-container matColumnDef="Cost">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let dish">
                <button mat-icon-button>
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                </button>
            </td>

          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="['Dish', 'Quantity', 'Cost']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['Dish', 'Quantity', 'Cost'];"></tr>

        </table>

        <mat-action-row *ngIf="deleting !== i ">
          <button mat-button color="accent" (click)="showConfirmDelete(i)">Delete</button>
          <div>
            <button mat-button (click)="discard(i)">Discard</button>
            <button mat-button color="primary" (click)="save(i)">Save</button>
          </div>
        </mat-action-row>

        <mat-action-row *ngIf="deleting === i">
          <button mat-button (click)="discard(i)" disabled>
            <span>Sure</span><span class="long"> you want to delete this delicious dish</span>?</button>
          <div>
            <button mat-button color="warn" (click)="delete(i)">Yes</button>
            <button mat-button color="primary" (click)="hideConfirmDelete(i)">No</button>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>

  