<div class="container">
    <h2>Mess Login</h2>
    <div class="passes">
        <mat-card > 
            <mat-form-field>
                <input  matInput #currpassm placeholder="Roll No."
                        type="text" autofocus
                        (keyup.enter)="newpassm.focus()">
            </mat-form-field>
            <mat-form-field>
                <input  matInput #newpassm placeholder="Password"
                        type="password"
                        >
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="button">
                <b>Login</b>
            </button>
        </mat-card>
    </div>
  </div>
  
  