<div class="flex">
  <form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <div class="group">
      <h3><b>Hall-3 Mess Login</b></h3>
    </div>
    <div class="group">
      <input autofocus #roll><span class="highlight"></span><span class="bar"></span>
      <label><b>ROLL NO</b></label>
    </div>
    <div class="group">
      <input type="password" autofocus #pass><span class="highlight"></span><span class="bar"></span>
      <label><b>PIN</b></label>
    </div>

    <button mat-raised-button color="primary" type="submit" class="buttonBlue" (click)="logIn(roll.value, pass.value)" ><b>Login</b>
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <div class="forsignup">
      <p>Never share your PIN</p>
      <p>First time?&nbsp;<a routerLink="/signup">Signup</a><br>Don't remember key?&nbsp;<a routerLink="/forgotkey">forgotkey</a></p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
  </footer>
</div>
