<div class="flex">
  <form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    
      <h3><b>Hall-3 Mess Login</b></h3>
    
    
    <mat-form-field class="centeraln">
      <input matInput placeholder="Roll No" type="text" autofocus #roll>
  </mat-form-field>
  <mat-form-field class="centeraln">
      <input matInput placeholder="Password" type="password" #pass>
  </mat-form-field><br>
    <button mat-raised-button color="primary" type="submit" class="buttonBlue" (click)="logIn(roll.value, pass.value)" ><b>Login</b>
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <div class="forsignup">
      <p>Never share your password</p>
      <p>First time?&nbsp;<a routerLink="/signup">Signup</a><br><a routerLink="/forgotkey">Forgot Password?</a></p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
  </footer>
</div>
