h3 {
    text-align: center;
}

#img-buffer {
    display: none;
}

@media(max-width: 400px) {
    h3 {
        margin-top: 0;
    }
    p {
        margin-bottom: 0;
    }
}

:host >>> .qr {
    display: flex;
    justify-content: center;
}

:host >>> .qr > img {
    width: 92% !important;
    height: 92% !important;
}
