<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"><mat-icon>account_circle</mat-icon>&nbsp;{{ rollno }}</mat-toolbar>
    <mat-nav-list>
      <div class="mobile" (click)="drawer.toggle()">
        <a mat-list-item routerLink="/home/book" ><mat-icon>border_color </mat-icon> &nbsp;Book</a>
        <a mat-list-item routerLink="/home/prebook"><mat-icon>restaurant </mat-icon>  &nbsp;Pre-Book</a>
        <a mat-list-item routerLink="/home/thisweek"><mat-icon>restaurant_menu </mat-icon> &nbsp;This week menu</a>
        <a mat-list-item routerLink="/home/history"><mat-icon>calendar_today</mat-icon> &nbsp;Bills and History</a>
        <a mat-list-item routerLink="/home/notwell"><mat-icon>local_hospital</mat-icon> &nbsp;Not Well</a>
        <a mat-list-item routerLink="/home/changepasskey"><mat-icon>vpn_key</mat-icon> &nbsp;Change Pass-Key</a>
        <a mat-list-item routerLink="/home/guestroom"><mat-icon>hotel</mat-icon> &nbsp;Book Guest Room</a>
        <a mat-list-item (click)="logout()"><img src="assets/img/logout.png">  &nbsp;Logout</a>
      </div>
      <div class="laptop">
        <a mat-list-item routerLink="/home/book" ><mat-icon>border_color </mat-icon> &nbsp;Book</a>
        <a mat-list-item routerLink="/home/prebook"><mat-icon>restaurant </mat-icon>  &nbsp;Pre-Book</a>
        <a mat-list-item routerLink="/home/thisweek"><mat-icon>restaurant_menu </mat-icon> &nbsp;This week menu</a>
        <a mat-list-item routerLink="/home/history"><mat-icon>calendar_today</mat-icon> &nbsp;Bills and History</a>
        <a mat-list-item routerLink="/home/notwell"><mat-icon>local_hospital</mat-icon> &nbsp;Not Well</a>
        <a mat-list-item routerLink="/home/changepasskey"><mat-icon>vpn_key</mat-icon> &nbsp;Change Pass-Key</a>
        <a mat-list-item routerLink="/home/guestroom"><mat-icon>hotel</mat-icon> &nbsp;Book Guest Room</a>
        <a mat-list-item (click)="logout()"><img src="assets/img/logout.png">  &nbsp;Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hall-3 Mess Automation</span>
    </mat-toolbar>
    <!-- Add Content Here -->
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
