<div class="flex">
<form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <div class="group">
    <h2>Hall-3 Mess Sign-up</h2></div>
  <div class="group">
    <input type="email" autofocus><span class="highlight"></span><span class="bar"></span>
    <label><b>IIT-K Mail ID</b></label>
  </div>
  
  <button type="submit" class="button buttonBlue" routerLink="/login"><b>Signup</b>
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div class="forsignup"><p>After Signup,Please Check Your Mail For Instructions.<br><br>Back to <a routerLink="/login">Login</a></p></div>
</form>

<!--Add a Jscript for after signup statement-->
<footer>
  <p><a href="https://www.iitk.ac.in/hall3/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
</footer>
</div>

