<div class="flex">
<form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <div class="group">
    <h2>Hall-3 Mess Signup</h2></div>
  <div class="group">
    <input type="email" autofocus><span class="highlight"></span><span class="bar"></span>
    <label><b>IIT-K Mail ID</b></label>
  </div>
  
  <button mat-raised-button color="primary" type="submit" class="buttonBlue" routerLink="/login"><b>Signup</b>
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div class="forsignup"><p>Please Check Your Mail For Instructions.<br><br>Have done this once?&nbsp;<a routerLink="/login">Login</a>
    <br>Don't remember key?&nbsp;<a routerLink="/forgotkey">forgotkey</a></p></div>
</form>

<!--Add a Jscript for after signup statement-->
<footer>
  <p><a href="https://www.iitk.ac.in/hall3/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
</footer>
</div>

