<div class="mastercontainer">
    <div class="main">
        <app-main-nav></app-main-nav>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="recents">
        <mat-toolbar color="primary" class="mat-elevation-z3"></mat-toolbar>
        <div class="container">
            <h2>Recents</h2>
                <mat-accordion multi="true">
                    <mat-expansion-panel *ngFor="let token of tokens; let i=index;" [expanded]="i === 0">
                      <mat-expansion-panel-header>
                        <mat-panel-title><span class="space">{{ token.rollno }}</span></mat-panel-title>
                        <mat-panel-description>{{ token.date }}</mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-divider></mat-divider>
                      <mat-card class="inside">
                      <div class="tokenlist">
                        <img src="http://localhost:8000/api/account/photo/{{ token.rollno }}.jpg">
                        <mat-divider [vertical]="true" class="inner"></mat-divider>

                        <div class="recentside">
                        <div class="leftpad" *ngFor="let dish of token.dishes">
                            <span class="eighty">{{ dish.name }}(Rs.{{ dish.price }})</span>
                            <span class="twenty">{{ dish.quantity}}</span>
                        </div>
                      </div>
                      </div>

                      </mat-card>
                    </mat-expansion-panel>
                  </mat-accordion>
              </div>
    </div>
</div>