.mastercontainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

span{
    font-weight: 600; 
}

.main{
    width: 70%;
    height: 100%;
}

.recents{
    width: 30%;
    height: 100%;
    background-color: #fafafa;
    overflow: auto;
}

.settings {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
}

.mat-accordion {
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

:host >>> .mat-expansion-panel-body {
    font-size: 13px;
}

.mat-expansion-panel-spacing {
    margin: 2px 0;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
    align-items: center;
    white-space: nowrap;
}

.mat-expansion-panel-header-title {
    white-space: nowrap;
    overflow: hidden;
}

.mat-expansion-panel-header.mat-expanded {
    margin-bottom: -12px;
}

.unread {
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width:120px;
    height:150px;
    margin: 0px;
}

.tokenlist {
    display: flex;
}

.space {
    width: 70px;
    font-weight: 400;
}

.leftpad{
    width: 100%;
    margin-left: 18px;
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    padding-top: 70px; 
    display: flex;
    justify-content: center;
}

mat-expansion-panel {
    margin-bottom: 3px;
}

.mat-elevation-z3{
    position: fixed;
    z-index: 3;
}

.inside{
    padding: 15px;
}

.eighty{
    width: 70%;
    padding-left: 5px; 
}

.twenty{
    width: 30%;
    text-align: center;
}

::-webkit-scrollbar {display:none;}

.recentside {
    width: 100%;
}
