<div class="mastercontainer">
    <div class="main">
        <app-main-nav></app-main-nav>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="recents">
        <mat-toolbar color="primary" class="mat-elevation-z3"></mat-toolbar>
        <div class="container">
            <h2>Recents</h2>
                <mat-accordion multi="true">
                    <mat-expansion-panel *ngFor="let token of tokens; let i=index;" [expanded]="i === opened">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{ token.rollno }}</span>
                            <span>{{ token.dishes.length }} Item{{ token.dishes.length > 1 ? 's' : '' }}</span>
                        </mat-panel-title>
                        <mat-panel-description>{{ fromNow(token.date) }}</mat-panel-description>
                      </mat-expansion-panel-header>
                      <mat-card class="inside">
                      <div class="tokenlist">
                        <div>
                            <img src="/api/account/photo/{{ token.rollno }}.jpg">
                        </div>
                        <div class="recentside">
                            <div class="leftpad" *ngFor="let dish of token.dishes">
                                <b>{{ dish.name }} (&#8377;{{ dish.price }})</b>
                                <b>{{ dish.quantity}}</b>
                            </div>
                        </div>
                      </div>

                      </mat-card>
                    </mat-expansion-panel>
                  </mat-accordion>
              </div>
    </div>
</div>