.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.not-well-book {
    width: 90%;
    text-align: center;
    max-width: 600px;
    margin: 10px 0;
}
