.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    text-align: center;

}

.passes {
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mat-progress-bar {
    margin: 7px 0;
    width: 50%;
    height: 3px;
}
