<div id="container">
    
    <ul>
      <li>
          <span>Change PIN 
          </span>  
          <br>
          <br>
          <form>
            <div class="w3-row-padding">
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="Present PIN" autofocus>
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="New PIN">
              </div>
              <div class="w3-third">
                <input class="w3-input w3-border" type="password" placeholder="Confirm PIN">
              </div>
            </div>
            <br>
            
            <button mat-raised-button color="primary" type="submit" class="buttonBlue"><b>Change</b></button>
          </form>
      </li>
    </ul>
  </div>
  
