.passes {
    width: 90%;
    max-width: 430px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.passes > .mat-card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.mat-card {
    padding: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.mat-form-field {
    overflow: hidden;
    text-align: center;
}

:host >>> .mat-form-field-infix {
    padding: .4375em 0;
    padding-left: 5px;
}

.mat-progress-bar {
    margin: 7px 0;
    width: 50%;
    height: 3px;
}

@media (min-width:960px) {
    .mobile{
      display: none;
    }
  }
  
  @media (max-width:960px) {
    .laptop{
      display: none;
    }
  }
  
  @media (max-width:840px) {
    .laptop{
      display: none;
    }
  }
