<div class="flex">
<form>
    <footer><img src="assets/img/mauryans_logo.png"></footer>
    <h3><b>Hall-3 Mess Signup</b></h3>
 
  <mat-form-field class="container">
    <input matInput placeholder="Roll No" type="text" autofocus #roll>
</mat-form-field>
<mat-form-field class="container">
    <input matInput placeholder="PIN" type="password" #pass>
</mat-form-field>
<mat-form-field class="container">
    <input matInput placeholder="Retype PIN" type="password" #repass>
</mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit" class="buttonBlue" (click)="signUp(roll.value, pass.value, repass.value)"><b>Signup</b>
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div class="forsignup"><p>Please Check Your Mail For Instructions.<br><br>Have done this once?&nbsp;<a routerLink="/login">Login</a>
    <br>Don't remember key?&nbsp;<a routerLink="/forgotkey">forgotkey</a></p></div>
</form>

<!--Add a Jscript for after signup statement-->
<footer>
  <p><a href="https://www.iitk.ac.in/hall3/" target="_blank">Hall-3 </a>Mess Automation Portal</p>
</footer>
</div>

