<div class="container form">
  <form autocomplete="new-password" autocomplete="off">
    <header><img src="assets/img/mauryans_logo.png"></header>
    <h3>Hall-3 Mess Signup</h3>
    <div class="container" *ngIf= "!signupsuccess">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" (keyup.enter)="roll.focus()" autocomplete="new-password" autocomplete="off" autofocus #name>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Roll No" type="text" (keyup.enter)="pass.focus()" autocomplete="new-password" autocomplete="off" autofocus #roll>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" (keyup.enter)="repass.focus()" autocomplete="new-password" autocomplete="off" #pass>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Retype Password" type="password" (keyup.enter)="repass.blur(); !submitting && signUp(name.value, roll.value, pass.value, repass.value)" autocomplete="new-password" autocomplete="off" #repass>
    </mat-form-field>
    <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
    <button mat-raised-button *ngIf="!submitting" color="primary" type="button" (click)="signUp(name.value, roll.value, pass.value, repass.value)">
      <b>Signup</b>
    </button>
    </div>
    <div class="done" *ngIf= "signupsuccess">
      <p>
        Signup Successful !! Please follow the link in your email to activate account.
      </p>
    </div>
    <div class="links">
      <p>
        Have done this once?&nbsp;<a routerLink="/login">Login</a><br>
        <a routerLink="/forgotpassword">Forgot Password?</a>
      </p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank" rel="noreferrer">Hall-3</a> Mess Automation Portal</p>
  </footer>
</div>

