<div class="container">
  <form>
    <header><img src="assets/img/mauryans_logo.png"></header>
    <h3>Hall-3 Mess Signup</h3>
    <mat-form-field>
      <input matInput placeholder="Roll No" type="text" (keyup.enter)="pass.focus()" autofocus #roll>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" (keyup.enter)="repass.focus()" #pass>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Retype Password" type="password" (keyup.enter)="repass.blur(); !submitting && signUp(roll.value, pass.value, repass.value)" #repass>
    </mat-form-field>
    <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
    <button mat-raised-button *ngIf="!submitting" color="primary" type="button" (click)="signUp(roll.value, pass.value, repass.value)">
      <b>Signup</b>
    </button>
    <div class="links">
      <p>
        Have done this once?&nbsp;<a routerLink="/login">Login</a><br>
        <a routerLink="/forgotkey">Forgot Password?</a>
      </p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank">Hall-3</a> Mess Automation Portal</p>
  </footer>
</div>

