<div class="container">
  <h2>Credits</h2>
<div class="credit-container">
<mat-card>
  <div>
    <div class="img-container">
    <img src="https://i.imgur.com/gTegBl6.jpg">
    </div>
    <div class="container">
      <h4 href="">Ashish Kr Singh</h4>
      <div class="email">
        ashsgh@iitk.ac.in
      </div>
      <div class="no">
        8778124118
      </div>
    </div>
  </div>
</mat-card>

<mat-card>
    <div>
      <img src="https://i.imgur.com/DR5QXtD.jpg">
      <div class="container">
        <h4>Abhishek Datta</h4>
        <div class="email">
          abdatta@hall3iitk.com
        </div>
        <div class="no">
          7003801867
        </div>
      </div>
    </div>
  </mat-card>
  </div>

  <br>
  <div class="liketext">{{ thumbsup? 'Thanks for the like!' : 'Like this app? Give a thumbs up' }}</div>
    <br>
    <button mat-mini-fab (click)="like(!thumbsup)" [color]="thumbsup? 'primary' : '' ">
        <mat-icon aria-label="Example icon-button with a heart icon" [class.grey]="!thumbsup">thumb_up</mat-icon>
    </button>
</div>