@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html
{
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size:15px;
  line-height:1.5;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin: 15px 0;
}

h2 {
  font-size: 30px;
  margin: 22px 0 10px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

@media(max-width: 599px) {
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container > * {
  flex: none;
}

.container.form {
  min-height: 100vh;
  justify-content: center;
  padding: 0 10px;
}
