@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body
{
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size:15px;
  line-height:1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin: 15px 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
