<div class="container">
  <form autocomplete="new-password" autocomplete="off">
    <h3>Mess Secretary Login</h3>
    <mat-form-field>
      <input matInput placeholder="User Name" type="text" autofocus (keyup.enter)="pass.focus()" autocomplete="new-password" autocomplete="off" #roll>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" autofocus (keyup.enter)="pass.focus()" autocomplete="off" #pass>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" routerLink="/control/notify">
      <b>Login</b>
    </button>
    <div class="links">
      <p>Never share your password</p>
      <p>In case you forgot password contact Web-Incharge.</p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank" rel="noreferrer">Hall-3</a> Mess Automation Portal</p>
  </footer>
</div>
