<div class="container">
  <h2>Change Password</h2>
  <div class="passes">
      <mat-card > 
          <mat-form-field>
              <input  matInput #currpassm placeholder="Current Password"
                      type="password" autofocus
                      (keyup.enter)="newpassm.focus()">
          </mat-form-field>
          <mat-form-field>
              <input  matInput #newpassm placeholder="New Password"
                      type="password"
                      (keyup.enter)="renewpassm.focus()">
          </mat-form-field>
          <mat-form-field>
              <input  matInput #renewpassm placeholder="Retype New Password"
                      type="password"
                     >
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="button">
              <b>Change</b>
          </button>
      </mat-card>
  </div>
</div>

