h2 {
    margin-bottom: 4px;
}

.mat-tab-group {
    width:100%;
}

:host >>> .mat-tab-body-content {
    display: flex;
    justify-content: center;
}

.mat-accordion {
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.dishes {
    width: 100%;
}

.date {
    margin: 15px 20px 5px;
}

.mat-expansion-panel-spacing {
    margin: 8px 2px;
    padding: 5px;
}

:host >>> .mat-expansion-panel-body {
    padding: 0 16px 16px;
}

.mat-expansion-panel-header-title {
    color: rgba(0,0,0,.54);
}

.mat-expansion-panel-header-description {
    color: black;
    flex-grow: 0.1;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-Quantity {
    text-align: center;
 }

 .mat-column-Cost {
    text-align: center;
 }

 .spinner{
    margin-top: 60px;
}

.passes{
    padding: 5px;
}

h4 {
    text-align: center;
}

.mat-card-subtitle{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    line-height: 30px;
    margin: auto;
}

span{
    width:33%;
    text-align: center;
}

.mat-card{
    padding-top: 16px;
    padding-bottom: 0px;
}

.dark{
    color: black;
}

p{
    text-align: center;
}

.center{
    display: flex; 
    justify-content: center;
    margin:0px;
    padding: 15px;
}

.centr {
    margin-top: 192px;
}

.this-month-total {
    color: rgba(0,0,0,.54);
}
