h2 {
    margin-bottom: 4px;
}

.mat-tab-group {
    width: 100%;
    max-width: 650px;
}

:host >>> .mat-tab-body-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.mat-accordion {
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
}

.dishes {
    width: 100%;
}

.date {
    margin: 15px 20px 5px;
}

.mat-expansion-panel-spacing {
    margin: 8px 2px;
    padding: 5px;
}

:host >>> .mat-expansion-panel-body {
    padding: 0 16px 16px;
}

.mat-expansion-panel-header-title {
    color: rgba(0,0,0,.54);
}

.mat-expansion-panel-header-description {
    color: black;
    flex-grow: 0.1;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-Quantity {
    text-align: center;
 }

 .mat-column-Cost {
    text-align: center;
 }

 .spinner{
    margin-top: 60px;
}

.bills {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.bills:first-child {
    margin-top: 20px;
}

.mat-card-title {
    font-size: 18px;
}

.mat-card-header {
    justify-content: center;
}

.mat-card-content {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 12px;
    font-size: 15px;
    padding: 0 5px;
}

h4 {
    text-align: center;
}

.mat-card-subtitle{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    line-height: 30px;
    margin: auto;
}

span{
    width:33%;
    text-align: center;
}

.mat-card {
    padding: 16px;
}

.dark{
    color: black;
}

p{
    text-align: center;
}

.center{
    display: flex; 
    justify-content: center;
    margin:0px;
    padding: 15px;
}

.centr {
    margin-top: 192px;
}

.this-month-total {
    color: rgba(0,0,0,.54);
}

.mat-progress-bar {
    margin: 10px 0 25px;
    width: 25%;
    height: 3px;
}

.hide {
    opacity: 0;
}
