<div class="mastercontainer">
  <div class="container">
    <form autocomplete="new-password" autocomplete="off">
      <header><img src="assets/img/mauryans_logo.png"></header>
      <h3>Hall 3 Mess Login</h3>
      <mat-form-field>
        <input matInput placeholder="Roll No." type="text" autofocus (keyup.enter)="pass.focus()" autocomplete="new-password" autocomplete="off" autofocus #roll>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" autofocus (keyup.enter)="pass.focus()" autocomplete="off" #pass>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button">
        <b>Login</b>
      </button>
      <div class="links">
        <p>Never share your password</p>
      </div>
    </form>
    <footer>
      <p><a href="http://hall3iitk.com/" target="_blank" rel="noreferrer">Hall-3</a> Mess Automation Portal</p>
    </footer>
</div></div>