.container {
    display: flex;
	flex-flow: column;
	min-height: 80vh;
    justify-content: center;
	align-items: center;
}

form {
	display: flex;
    flex-flow: column;
	align-items: center;
	text-align: center;
	max-width: 350px;
	width: 90%;
	margin-top: 20px;
	padding: 10px;
	background:#fafafa;
	border: 1px solid #ebebeb;
	border-radius:15px; 
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;  
}

form > *:first-child {
	padding-top: 20px;
}

form > *:last-child {
	padding-bottom: 20px;
}

.mat-form-field {
	text-align: center;
}

button {
	margin: 10px 0;
}

.mat-progress-bar {
    margin: 27px 0;
    width: 50%;
    height: 3px;
}

.links p, footer p {
	font-size: 13px;
	letter-spacing: .4px;
}

.links a,footer a {
	color: #c20b0b;
	text-decoration: none;
	transition: all .2s ease;
}

.links a:hover, footer a:hover {
	cursor: pointer;
	text-decoration: underline;
}

header, footer {
	text-align: center;
}

header img {
	width: 80px;
	transition: all .2s ease;
}

header img:focus , footer a:focus { 
	outline: none;
}
