<div id="container">
    
    <ul>
      <li>
          <span>Please utilise this service if you are not well,and want the any of following item at your room.</span>
          <br>
          <br>
          <form>
            List of items:<br>
            <input type="radio" name="fooditem" value="Curd-rice">Curd-rice<br>
            <input type="radio" name="fooditem" value="Dal-rice">Dal-rice<br>
            <input type="radio" name="fooditem" value="Riceonly">Rice-only<br><br>
            <input type="text" name="name" placeholder="Name:"><br><br>
            <input type="text" name="wing" placeholder="Wing:(Ex: 3bot)"><br><br>
            <input type="text" name="wing" placeholder="Room:(Ex: 133)"><br><br>
            <button type="submit" class="button buttonBlue"><b>Submit</b></button>
          </form>
      </li>
    </ul>
  </div>
  
