<div class="container form">
  <form autocomplete="new-password" autocomplete="off">
    <header>
      <img src="assets/img/mauryans_logo.png">
    </header>

    <h3>Reset Password</h3>

    <mat-form-field>
      <input matInput placeholder="Type New Password" type="password" autofocus (keyup.enter)="renewpass.focus()" autocomplete="off" #newpass>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Retype Password" type="password" (keyup.enter)="newpass.blur(); !reseting && reset(newpass.value, renewpass.value);" autocomplete="off" #renewpass>
    </mat-form-field>
    
    <mat-progress-bar mode="indeterminate" *ngIf="reseting"></mat-progress-bar>
    
    <button mat-raised-button *ngIf="!reseting" color="primary" type="button" (click)="reset(newpass.value, renewpass.value)">
      <b>Set Password</b>
    </button>
    <div class="links">
      <p>Never share your password</p>
      <p>
        Just remembered it?&nbsp;<a routerLink="/login">Login</a><br>
        Still didn't signup?&nbsp;<a routerLink="/signup">Signup</a>
      </p>
    </div>
  </form>
  <footer>
    <p><a href="http://hall3iitk.com/" target="_blank" rel="noreferrer">Hall-3</a> Mess Automation Portal</p>
  </footer>
</div>