.container{
	width: 100%;
	display:flex;
	justify-content: space-between;
}

.a{
	width:70%;
}
.b{
	width:27%;
	background-color: #444;
	color: antiquewhite;
	text-align: center;
	font-weight: 650;
	font-size: 1.5em;
}

.card{
	width:90%;
}

.navbar{
	background-color: blueviolet;
	padding-top: 10px;
	height: 27px;
}

.menu{
	margin-top:20px;
	margin-left:-17px; 
}

.menucontainer{
	padding: 0; 
}


